.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}
*{
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}
body{
  background-color: #f6f8fc ;
}
.content{
  width: 100vw;
  padding: 1rem;
  background-color: #fff;
  height: 100vh;
}

@media screen and (min-width: 992px){
  .content{
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.pokemons {
  display: grid;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 300px){
  .pokemons{
  grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 575px){
  .pokemons{
  grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px){
  .content{
    max-width: 992px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pokemon {
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  position: relative;
}

.pokemon .number {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  opacity: 0.3;
}

.pokemon .name {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: .25rem;
}

.pokemon .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon .types {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon .type {
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  margin-bottom: 0.25rem;
  text-align: center;
  filter: brightness(1.1);
}

.pokemon img {
  max-width: 100px;
  height: auto;
}
.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.pagination button{
padding: .25rem .2rem;
color: #fff;
background-color: purple;
border: none;
border-radius: 1rem;
padding: 0.25rem 0.5rem;
border-radius: 1rem;
font-size: 0.7rem;
}
