*{
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}
body{
  background-color: #f6f8fc ;
}
.content{
  width: 100vw;
  padding: 1rem;
  background-color: #fff;
  height: 100vh;
}

@media screen and (min-width: 992px){
  .content{
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.pokemons {
  display: grid;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 300px){
  .pokemons{
  grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 575px){
  .pokemons{
  grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px){
  .content{
    max-width: 992px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pokemon {
  background-color: #49d0b0;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  position: relative;
}

.pokemon .number {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  opacity: 0.3;
}

.pokemon .name {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon .types {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon .type {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.pokemon img {
  max-width: 100px;
  height: auto;
}
